body{
    background-color: dodgerblue;
    color: darkred;
}

img{
    display: block;
    margin: 0 auto;
}

#DivCentral{
    display: block;
    margin: 0 auto;
    border: 2px solid red;
    margin-top: 20px;
    width: 400px;
    
}